{% extends "layout.html" %}
{#继承layout.html ，添加自己的东西#}
{% block css %}
{% endblock %}



{% block context %}
    <h1> 班级列表  </h1>
    <div>
        <input id="id_add" type="button" value="添加">
        <a href="/add_classes.html">添加</a>
    </div>
{#    循环遍历班级#}
    <table border="1px">
        <thead>
          <tr>
              <th>ID</th>
              <th>标题</th>
              <th>操作</th>
          </tr>
        </thead>
        <tbody>
            {% for item in cls_list %}
                <tr>
{#                自定义属性#}
                    <td txt="id">{{ item.id }}</td>
                    <td txt="caption">{{ item.caption }}</td>
                    <td>
                        <a class="td-edit">编辑</a>|
                        <a class="td-del">删除</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>



<div class="pageination">
  {{str_pager}}
</div>





{#    模态对话框 , 模态对话框的css 在layout.html中#}
    <div class="modal hide">
        <form action="/classes.html" method="post">
            <input type="text" id='id' name="id">
            <input type="text" id='caption' name="caption" placeholder="标题">
            <input type="submit" value="确定">
            <input type="button" id="modal_ajax" value="Ajax确定">
            <input type="button" id="id_modal_cancel" value="取消">
        </form>
    </div>
    <div class="shade hide"></div>



{#    删除按钮的模态对话框#}
     <div class="remove hide">
        <input type="button" value="确定">
        <input type="button" id="id_remove_cancel" value="取消">
    </div>
{% endblock %}




{% block js %}
    <script>
        SUBMIT_URL="";
        $(function () {
            $('#item_class').addClass('active');

            bindAddEvent();
            bindCancelEvent();
            bindTdDelEvent();
            bindSubimeModal();
            bindEditEvent();
        });
        
        function  bindAddEvent() {
            $('#id_add').click(function () {
                $('.modal,.shade').removeClass('hide');
                SUBMIT_URL='/classes.html';
            });
        }

        function  bindEditEvent() {
            $('.td-edit').click(function () {
                $('.modal,.shade').removeClass('hide');
                SUBMIT_URL='/up_classes.html';

            /**$(this).parent().prevAll() 获取当前标签的父标签 同级的所有节点**/
                /*
                var tds = $(this).parent().prevAll();

                $("#id").val(tds[1].innerText);
                $("#caption").val(tds[0].innerText);*/
                $(this).parent().prevAll().each(function () {
                     var text = $(this).text();
                     var name = $(this).attr("txt");//自定义的属性
                   // console.log(text);
                    //console.log(name);
                    $("#"+name).val(text);

                });
            });
        }
        function  bindCancelEvent() {
            $('#id_modal_cancel,#id_remove_cancel').click(function () {
                $('.modal,.shade,.remove').addClass('hide');

            });
        }
        
        function bindTdDelEvent() {
          /*  $('td .td-del').click(function () {

                 $('.remove,.shade').removeClass('hide');
            });*/

          //委托
          $('tbody').on('click', '.td-del' ,function () {
               $('.remove,.shade').removeClass('hide');
          })
        }

        function bindSubimeModal() {
            $('#modal_ajax').click(function () {
               var nid =  $('#id').val();
               var value =  $('#caption').val();
                $.ajax({
                    url:SUBMIT_URL,
                    type:'POST',
                    data:{caption:value,id:nid},
                    dataType:"JSON",
                    success:function (data) {

                        {#console.log(data);#}
                        if(!data.status){
                            alert(data.error);
                        }
                        else{
                            {#方案1：让页面刷新#}
                            {#location.reload();#}

                            {#方案2：通过js在table 表格最后追加刚刚新增加的数据#}
                            var tr = document.createElement('tr');
                            var td1 = document.createElement('td');
                            var td2 = document.createElement('td');
                            var td3 = document.createElement('td');
                            td3.innerText="|";

                            td1.innerText=data.data.id;
                            td2.innerText=data.data.caption;
                            var a1 = document.createElement('a');
                            var a2 = document.createElement('a');

                            a1.innerHTML="编辑";
                            a2.className="td-del";
                            a2.innerHTML="删除";

                            $(td3).prepend(a1);
                            $(td3).append(a2);

                            $(tr).append(td1);
                            $(tr).append(td2);
                            $(tr).append(td3);

                            $('table tbody').append(tr);
                            $('#caption').val("");
                            {#关闭模态对话框#}
                             $('.modal,.shade').addClass('hide');
                        }
                    }
                })
            });
        }

    </script>
{% endblock %}